---
import "../style.css";
import MainHeader from "../components/MainHeader.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FreshCrib - Affordable Professional Home Cleaning</title>
    <meta
      name="description"
      content="FreshCrib is a new home cleaning subscription service offering member clients up to four maintenance cleaning visits a month for one low monthly price."
    />
    <link rel="shortcut icon" href="/favicon-32x32.png" type="image/x-icon" />
  </head>
  <body>
    <MainHeader />
    <main>
      <slot />
    </main>
  </body>
</html>
